<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset='utf-8' />
    <!-- bower:css -->
    <!-- endbower -->

    <!-- CUSTOM CSS HERE -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="masthead">
      <div class="container">
        <span><a class="rigid-icon" href="http://github.com/numberoverzero/generator-rigid">
            Rigid
        </a></span>
        <p class="rigid-tagline">Get building.</p>
      </div>
    </div>
  <!-- bower:js -->
  <!-- endbower -->

  <!-- CUSTOM JS HERE -->
  </body>
</html>
